
@{
    Layout = null;
}
<div class="card tenant-change-component" style="margin-bottom: 3px;">
    <div class="body text-center">
        <p>
            999999999999999999999999999999999999999999
        </p>
    </div>
</div>
